@import ".././variables.scss";

.loadingCircle {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 0.4em solid $background-color;
  border-top-color: $background-color-lighter;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
