@import "./variables.scss";

.footerInfo {
  & > a {
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
  }

  .socialList {
    display: flex;
    margin-block: 2em;
    margin-top: 0.5em;

    li {
      margin-right: 0.5em;

      svg {
        padding: 0.2em;
        color: $font-color-dark;
        width: 2em;
        height: 2em;
        transition: $transition-duration;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .langSelection {
    position: relative;

    .langInfo {
      user-select: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      div {
        margin-right: 1em;
      }

      &:hover p {
        color: $font-color;
      }

      p {
        margin: 0;
        font-size: large;
        font-weight: bold;
        margin-right: 0.2em;
        color: $font-color-dark;
        transition: $transition-duration;
      }

      svg {
        width: 1.5em;
        height: 1.5em;
        transition: $transition-duration;
        color: $font-color-dark;

        &.langArrowOpen {
          transform: rotate(0.5turn);
        }
      }
    }

    .langDropdown {
      min-width: 12em;
      position: absolute;
      bottom: 100%;
      left: 0;
      margin-bottom: 1em;
      background-color: $background-color-light;
      border-radius: $border-small;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      overflow: hidden;

      div {
        width: 100%;
        cursor: pointer;
        padding: 0.75em 1em;
        transition: $transition-duration;
        display: flex;
        align-items: center;

        div {
          width: 24px;
          height: 24px;
        }

        p {
          color: $font-color-dark;
          font-weight: 500;
          margin: 0;
          margin-inline-start: 0.5em;
          transition: $transition-duration;
        }

        &.activeLocale {
          background-color: $background-color-hover;
        }

        &:hover {
          background-color: $background-color-hover;

          p {
            color: $font-color;
          }
        }
      }
    }
  }
}

.footerNav {
  display: flex;

  .navSection {
    margin-left: 4em;

    h2 {
      margin: 0;
      margin-bottom: 0.5em;
      font-size: larger;
      text-transform: uppercase;
    }

    ul li {
      color: $font-color-dark;
      font-size: medium;
      margin-block: 1em;
      transition: $transition-duration;

      &:hover {
        color: $primary;
      }
    }
  }
}
