@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $font-color;
  background-color: $background-color;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

button,
.btn {
  font: unset;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  color: $primary;
  padding: 10px 15px;
  border-radius: $border-small;
  transition: $transition-duration;
  font-weight: 500;
  font-size: medium;

  &:hover {
    background-color: $background-color-light;
  }

  &.btn-primary {
    color: $font-color;
    background-color: $primary;

    &:hover {
      background-color: $primary-hover;
    }
  }
}

.drop-enter {
  opacity: 0;
  transform: translateY(-1em);
}
.drop-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: $transition-duration;
}
.drop-exit {
  opacity: 1;
}
.drop-exit-active {
  opacity: 0;
  transform: translateY(-1em);
  transition: $transition-duration;
}

.error-message {
  margin-block: 5em;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $error-color;

  svg {
    font-size: 3rem;
  }

  h2 {
    margin-block: 0;
    margin-top: 0.5em;
  }
}
