@import "./variables.scss";

nav.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navContainer {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;

  .navItem {
    margin-inline: 1em;

    a {
      font-size: large;
      transition: $transition-duration;

      &:hover {
        color: $font-color-dark;
      }
    }
  }
}

.langSelection {
  position: relative;
  margin-inline: 2em;

  .langInfo {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    p {
      font-size: large;
      font-weight: bold;
      margin-right: 0.5em;
    }
  }

  .langDropdown {
    min-width: 10em;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $background-color-light;
    border-radius: $border-small;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;

    p {
      width: 100%;
      cursor: pointer;
      margin: 0;
      padding: 0.75em 1em;
      text-align: end;
      font-size: medium;

      &:hover {
        background-color: $background-color-hover;
      }
    }
  }
}

.profile {
  margin-left: 1em;
  .userProfile {
    position: relative;

    .userInfo {
      user-select: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      .userAvatar {
        margin-right: 0.5em;

        img {
          border-radius: 50%;
        }
      }

      p {
        font-size: larger;
        font-weight: 500;
        margin-right: 0.5em;
      }
    }

    .userDropdown {
      position: absolute;
      min-width: 10em;
      top: 100%;
      right: 0;
      background-color: $background-color-light;
      border-radius: $border-small;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      overflow: hidden;

      * {
        padding: 0.75em 1em;
        text-align: end;
        width: 100%;
        background: none;
        border-radius: 0;
        font-weight: medium;
        font-size: medium;
        transition: $transition-duration;

        &:hover {
          background-color: $background-color-hover;
        }

        &:hover:not(.extraItem) {
          color: $font-color-dark;
        }

        &.extraItem {
          color: $error-color;
          border-top: 1px solid $background-color-lighter;
        }
      }
    }
  }
}
