$font-color: #f4f4f4;
$font-color-dark: #adb5bd;

$background-color-lighter: #273139;
$background-color-hover: #212930;
$background-color-light: #1a2026;
$background-color: #14181d;
$background-color-dark: #0d1013;

$primary: hsl(216, 64%, 55%);
$primary-hover: hsl(216, 64%, 40%);
$error-color: rgb(204, 58, 75);
$success-color: rgb(63, 204, 58);

$transition-duration: 0.25s;

$border-small: 5px;
$border-big: 10px;

$box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
